/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    SLIDER BACKGROUND CSS STYLE
    VIDEO BACKGROUND CSS STYLE
* 05.PLACES CSS STYLE
* 06.CALL TO ACTION CSS STYLE
* 07.TESTIMONIAL CSS STYLE
* 08.CONTACT CSS STYLE
* 09.MAP CSS STYLE
* 10.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 70px 0px;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-title p {
    background: #73AE20;
    display: inline-block;
    color: #000;
    padding: 1px 10px;
    font-size: 14px;
    font-weight: 600;
}

.section-title h2 {
    font-size: 40px;
    margin: 0;
    text-transform: capitalize;
    
}

a.read-more {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #73AE20;
    background-color: #73AE20;
    font-weight: 600;
    letter-spacing: 1px;
}

a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #73AE20;
    -webkit-transition: .3s;
    transition: .3s;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background: #73AE20;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader-area {
    position: fixed;
    background: #fff;
    z-index: 11000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #82B440;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1 {
    background-color: #73AE20;
}

.dot2 {
    top: auto;
    background-color: #000;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/mainbg.jpg);
    background-size: cover;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin-top: 60px;
}

.header-text h2 {
    color: #fff;
    font-size: 50px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header-text p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0px 100px;
}

.tour-info {
    text-align: right;
    padding-top: 25px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.menu-bg .tour-info {
    padding-top: 18px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.tour-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tour-info ul li {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
    text-transform: capitalize;
}

.tour-info ul li i {
    margin-right: 10px;
    background: #73AE20;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 25px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #212121;
    border: none;
}

.menu-bg .logo {
    padding-top: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo a p {
    color: #fff;
}

a.slide-btn {
    margin: 0px 5px;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    text-transform: capitalize;
    font-size: 12px;
    border: 1px solid #73AE20;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 30px;
    background: #73AE20;
}

a.slide-btn:hover {
    color: #fff;
    border: 1px solid #73AE20;
    background: transparent;
}


/*
* ----------------------------------------------------------------------------------------
* HOMEPAGE SLIDER BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 100%;
}

.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div {
    height: auto;
}

.single-slide-item-table {
    display: table;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}

.single-slide-item:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.slide-1 {
    background: url(../images/bg/mainbg.jpg) scroll 0 0;
    background-size: cover;
}

.slide-2 {
    background: url(../images/bg/slider1.jpeg) scroll 0 0;
    background-size: cover;
}

.slide-3 {
    background: url(../images/bg/slider2.jpeg) scroll 0 0;
    background-size: cover;
}

.parts-sectionone ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .parts-sectionone ul li {
      display: block;
      line-height: 35px;
      font-size: 16px;
      font-weight: 300;
      color: #000; }
      .parts-sectionone ul li:before {
        content: "•";
        font-size: 30px;
        vertical-align: middle; }


.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.right.slider-control {
    left: auto;
    right: -52px;
}

.left.slider-control {
    left: -52px;
}

.welcome-slider-area:hover .right.slider-control {
    right: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.welcome-slider-area:hover .left.slider-control {
    left: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.slider-control {
    background: transparent;
    border: 1px solid #fff;
    color: #73AE20;
    font-size: 24px;
    width: 40px;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.slider-control:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #73AE20;
}

.carousel-indicators li {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin: 0;
    background: #73AE20;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.carousel-indicators li.active {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* VIDEO BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-video-area {
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.welcome-video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*
* ----------------------------------------------------------------------------------------
* 04.TOUR PLACES CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.tour-places {}

.single-place {
    margin-top: 30px;
    padding: 0px 10px;
}

.tour-des {
    background: #F7F7F7;
    padding: 20px 10px;
}

.single-place h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 0;
}

.single-place h3 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}

.single-place h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.single-place h4 span {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #333;
    position: relative;
    margin-left: 10px;
}

.single-place h4 span:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #000;
    content: "";
    margin-top: 10px;
}

.tour-places .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #73AE20;
}

.owl-theme .owl-controls {
    margin-top: 40px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {}

.single-service {
    margin-top: 30px;
    text-align: center;
}

.single-service h4 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service:hover.single-service h4 {
    color: #000;
    font-weight: 700;
    -webkit-transition: .3s;
    transition: .3s;
}

.service-icon i {
    font-size: 40px;
    color: #73AE20;
    height: 100px;
    width: 100px;
    background: #fff;
    line-height: 100px;
    border-radius: 50%;
    border: 1px solid #73AE20;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service:hover .service-icon i {
    font-size: 50px;
    color: #fff;
    background: #73AE20;
    border: 1px solid #73AE20;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service p {
    margin-bottom: 0
}


/*
* ----------------------------------------------------------------------------------------
* 06.CALL TO ACTION CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.call-to-area {
    background: url(../images/bg/call.jpg);
    background-size: cover;
    padding: 90px 0px;
    position: relative;
    z-index: 1;
}

.call-to-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.call-to-area-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
}

.call-to-area-text p {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
}

.call-to-area-text a {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #73AE20;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    background: #73AE20;
}

.call-to-area-text a:hover {
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
}


/*
* ----------------------------------------------------------------------------------------
* 07.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #F7F7F7;
}

.testimonial-list {
    margin-top: 30px;
}

.single-testi-des {
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.32);
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.single-testi-des:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    height: 30px;
    width: 30px;
    content: "";
    background: #fff;
    margin-left: 12px;
    margin-top: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -15px;
}

.single-testimonial {
    margin-right: 30px;
    text-align: center;
}

.single-testimonial h6 {
    margin-top: 0px;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.single-testimonial p {
    font-size: 16px;
    font-weight: 300;
}

.testi-name {
    text-align: center;
}

.testi-name h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.testi-name h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 0;
    color: #333;
}

.testimonial-area .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #73AE20;
}


/*
* ----------------------------------------------------------------------------------------
* 08.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-area {
    background: #F7F7F7;
}

.contact-icon {
    float: left;
    margin-bottom: 30px;
    margin-right: 15px;
}

.contact-icon i {
    font-size: 20px;
    color: #73AE20;
    height: 50px;
    width: 50px;
    border: 1px solid #73AE20;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-contact:hover .contact-icon i {
    color: #fff;
    border: 1px solid #73AE20;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 25px;
    background: #73AE20;
}

.single-contact {}

.single-contact h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
}

.contact-form {
    margin-top: 30px;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 17px 7px 14px 15px;
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s
}

.form-control:focus {
    border-color: #73AE20;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #73AE20;
    background-color: #73AE20;
    border-radius: 0px;
    font-weight: 600;
    border-radius: 30px;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    color: #000;
    border: 1px solid #73AE20;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 09.MAP CSS STYLE
* ----------------------------------------------------------------------------------------
*/

#map {
    height: 400px;
}


/*
* ----------------------------------------------------------------------------------------
* 10.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 50px 0px;
}

.footer-text h6 {
    text-transform: capitalize;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
}

.footer-menu {
    margin-bottom: 20px;
}
.modalclass {

    padding: 12px 30px !important;
    text-decoration: none;}
.footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
    margin: 0px 5px;
    border-right: 1px solid #73AE20;
    padding-right: 10px;
    line-height: 14px;
}

.footer-menu ul li:last-child {
    border: none;
}

.footer-menu ul li a {
    display: block;
    color: #fafafa;
    text-transform: capitalize;
}

.footer-menu ul li a:hover {
    color: #73AE20;
}


/*
* ----------------------------------------------------------------------------------------
* PREVIEW CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.preview-body {
    background: #fafafa;
}

.preview-single-image img {
    width: 100%;
    height: auto;
}

.preview-single-image {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.preview-single-image:hover {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.preview-single-image h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 30px 20px;
}

.preview-header-top-area {
    padding: 50px 0px;
}

.preview-header-top-area h2 {
    font-size: 120px;
    color: #000;
    text-transform: capitalize;
    font-weight: 900;
}

.preview-header-top-area p {
    color: #333;
    font-size: 30px;
    font-weight: 300;
}

.main h2 {
    color: #000;
}

.main {
    margin-bottom: 180px;
}